body, html {
    height: 100%;
  }

.bg-img {
    background-image: url("/images/sketch-paper-md.jpg");
    background-size: cover;
}

.book-collection{
    background-color: transparent;
}

.cont-title {
    padding-top: 10px;
}

.footer {
    padding: 15px;
    background-color: #212529;
  }

  .copyright-info {
    text-align: center;
    padding-right: 1rem;
  }