body,
html {
  height: 100%;
}

#nav-bar {
  background-color: #363636;
}

.jumbotron {
  background-image: url("../images/books-bg-md.jpg");
  background-size: cover;
}

.cont-title {
  padding-top: 10px;
  font-family: "Slabo 27px", serif;
  font-size: xx-large;
}

.book-search {
  width: 20%;
}

.search-section {
  background-color: whitesmoke;
  border-radius: 5px;
}

.btn-outline-success {
  /* change border color on search button */
  border-color: #7acbcd;
  color: #7acbcd;
}

.btn-outline-success:hover {
  /* change border color on search button when hovered*/
  background-color: #7acbcd;
  border-color: #7acbcd;
}

.form-control-sm {
  margin: 5px;
}

.first-cont {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.first-row {
  display: flex;
  width: fit-content(18rem);
}

.second-cont {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.second-row {
  display: flex;
  width: fit-content(18rem);
}

.third-cont {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.third-row {
  display: flex;
  width: fit-content(18rem);
}

.card {
  margin: 10px;
}

.btn-outline-success {
  display: flex;
}

.btn-primary {
  background-color: #7acbcd;
  border-color: #7acbcd;
}

.btn-primary:hover {
  background-color: #93f0f1;
  border-color: #93f0f1;
}

.footer {
  padding: 15px;
  background-color: #212529;
  margin-top: 40px;
}

.copyright-info {
  text-align: center;
  padding-right: 1rem;
}

#main_results_container {
  background-color: whitesmoke;
  border-radius: 5px;
}

#results_container {
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
